@page "/counter"

@inject IJSRuntime JSRuntime

@using System.Text.RegularExpressions;


<input type="text" @bind="InputText" placeholder="Type here..."/>
<input type="text" @bind="ChunkSize" placeholder="Chunk size..."/>
<button @onclick="GenerateQRCode">Geneate QR code</button>

<div id="qrCode"></div>

@code { 
    string InputText {get; set;} = "";
    string ChunkSize {get; set;} = "";
    string QRCodeStr {get; set;} = "";

    async void GenerateQRCode()
    {
        var SplitInputText = ChunksUpto(InputText, int.Parse(ChunkSize));
        Console.WriteLine(SplitInputText);

        QRCodeStr = await JSRuntime.InvokeAsync<string>("generateQRCode", SplitInputText); 
    }

    static IEnumerable<string> ChunksUpto(string str, int maxChunkSize) 
    {
        for (int i = 0; i < str.Length; i += maxChunkSize) 
        yield return str.Substring(i, Math.Min(maxChunkSize, str.Length-i));
    } 
}
